/*
Colores
  cyan: hsl(179, 62%, 43%)
  lime: hsl(71, 73%, 54%)
  grey: hsl(204, 43%, 93%)
  light-blue: hsl(218, 22%, 67%)

Fuente de la página
  https://fonts.google.com/specimen/Karla
  Estilos 200 y 400
*/


* {
    box-sizing: border-box;
}

body {
    background-color: #333;
    color: #fff;
}

.card{
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.card__header{
    padding-right: 5%;
    padding-bottom: 4%;
    overflow: hidden;
}

.padding--left--5{
    padding-left: 5%;
}

.padding--top--6{
    padding-top: 6%;
}

.bg--white{
    background-color: white;
}

.bg--light--blue{
    background-color: hsl(179, 62%, 43%);
}

.bg--cyan{
    background-color: hsl(178, 55%, 38%);
}

.bg--green{
    background-color: #C0DF34;
}

.font--family{
    font-family: 'Karla', sans-serif;
}

.font--weight--200{
    font-weight: 200;
}

.font--size--title{
    font-size: 2.2vw;
}

.font--size--subtitle{
    font-size: 1.5vw;
}

.font--size--p{
    font-size: 1.1vw;
}

.font--weight--400{
    font-weight: 400;
}

.font--color--cyan{
    color: hsl(179, 62%, 43%);
}

.font--color--lime{
    color: hsl(71, 73%, 54%);
}

.font--color--grey{
    color: hsl(197, 3%, 58%)
}

.inline--block{
    display: inline-block;
}

.display--flex{
    display: flex;
}

.body--width{
    width: 50%;

}

.list--style--none{
    list-style: none;
}

.padding--left--0{
    padding-left: 0;
}

.padding--bottom--2{
    padding-bottom: 2%;
}

.margin--0{
    margin: 0;
}

.font--size--extrabig{
    font-size: 2.8vw;
}

.font--color--grey-transparent{
    color: #77dbd6
}

.margin--bottom--7{
    margin-bottom: 7%;
}

.text--decoration--none{
    text-decoration: none;
}

.font--color--white{
    color: white
}

.link{
    display: inline-block;
    padding: 3% 35%;
    border-radius: 0.4vw;
    
}




