/*
Colores
  cyan: hsl(179, 62%, 43%)
  lime: hsl(71, 73%, 54%)
  grey: hsl(204, 43%, 93%)
  light-blue: hsl(218, 22%, 67%)

Fuente de la página
  https://fonts.google.com/specimen/Karla
  Estilos 200 y 400
*/


* {
    box-sizing: border-box;
}

body {
    background-color: #333;
    color: #fff;
}

.card{
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

.card__header{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 4%;
    overflow: hidden;
}


.bg--white{
    background-color: white;
}

.bg--light--blue{
    background-color: hsl(179, 62%, 43%);
}

.bg--cyan{
    background-color: hsl(178, 55%, 38%);
}

.font--family{
    font-family: 'Karla', sans-serif;
}

.font--weight--200{
    font-weight: 200;
}

.font--weight--400{
    font-weight: 400;
}

.font--color--cyan{
    color: hsl(179, 62%, 43%);
}

.font--color--lime{
    color: hsl(71, 73%, 54%);
}

.font--color--grey{
    color: hsl(200, 3%, 81%)
}

.inline--block{
    display: inline-block;
}

.display--flex{
    display: flex;
}

.body--width{
    width: 50%;
}

